.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(68, 0, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .active
  {
    background-color: red;
  }

#div1 {
    display: flex;
    font-family: cursive;
    background: linear-gradient(to bottom right, rgb(31, 223, 6), rgb(0, 217, 255));
    position: relative;
    width: 100%;
    justify-content: center;
}

#soccer {
    display: flex;
    font-family: cursive;
    background: linear-gradient(to right, rgb(211, 157, 148), rgb(226, 233, 136));
    width: 700px;
    height: 350px;
    text-align: justify;
    position: relative;
    margin: 0px;
    padding: 20px;
}

#soccer img {
    align-self: center;
    margin: 20px;

}

#soccer p {
    align-self: flex-end;
    font-family: 'Times New Roman';
}

#cricket {
    display: flex;
    font-family: cursive;
    background: linear-gradient(to right, rgb(119, 218, 243), rgb(231, 233, 132));
    width: 700px;
    height: 350px;
    text-align: justify;
    position: relative;
    float: right;
    padding: 10px;
    margin: 20px;
}

#cricket img {
    align-self: center;
    margin: 20px;

}

#cricket p {
    align-self: flex-end;
    font-family: 'Times New Roman';
}

#tennis {
    display: flex;
    font-family: cursive;
    background: linear-gradient(to right, rgb(191, 255, 199),rgb(255, 120, 120));
    width: 700px;
    height: 350px;
    padding-left: 10px;
    text-align: justify;
    position: relative;
}

#tennis img {
    align-self: center;
    margin: 20px;

}

#tennis p {
    align-self: flex-end;
    font-family: 'Times New Roman';
}

.main {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.table {
    width: 500px;
    position: relative;
    margin: 100px 20px 20px 20px;
}


.table table {
    font-family: arial;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.table td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

.table tr:nth-child(even) {
    background-color: #f6f0fa;
}

.table th {
    background-color: rgb(64, 127, 221);
    text-align: center;
}
.navbar input[type=submit]{
    margin-top: 15px;
    float: right;
    margin-right: 300px;
    border-radius: 10px;
}
.navbar input[type=text]{
    margin-top: 15px;
    float: right;
    border-radius: 10px;
}