body{
    padding: 0px;
    margin: 0px;
}

.nav {
    overflow: hidden;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    float: left;
    font-size: large;
    text-align: center;
    padding: 39px 17px;
    font-family: cursive;
}

.nav .active {
    background-color: #fff;
    color: #000;
}

/* .nav a:hover {
    background-color: #aaa;
} */

.nav p {
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-size: xx-large;
    padding-left: 5%;
    float: left;
    padding-right: 150px;
}
.nav .searcharea {
    float: right;
    padding-top: 38px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.nav .signup {
    float: right;
    padding-top: 38px;
    padding-right: 70px;
    padding-bottom: 10px;
}
.nav .signup button:hover
{
    background-color: #fff;
    color: #000;
    cursor: pointer;  
    border-color: #000;  
}

.nav .signup button {
    font-size: large;
    font-family: fantasy;
    color: #fff;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 50px;
    padding: 2px 20px;
}

.intro{
    background-color: #000;
    color: #fff;
    padding: 30px 250px;
}
.intro h2 {
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro p {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div2{
    background-color: #fff;
    color: #000;
    padding: 30px 100px;
}
.div2 h2 {
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 150px;   
}

.div2 p {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 150px;   
}


.slider
{
    position:relative;
    width: 100%;
    height: 450px;
}

.slider img
{
    position:absolute;
    top:0px; left: 15%; right: 15%;
    width: 70%;
    height: 450px;
}
.slider img :first-child
{
    z-index: 1;
}
.slider img :nth-child(2)
{
    z-index: 0;
}
.slider .imgbtn{
    display: flex;
    justify-content:space-between;
    padding-top: 225px;
}
.imgbtn button{
    padding: 10px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-color: #222;
    cursor: pointer;
}
.div3{
    background-color: #000;
    color: #fff;
    padding: 30px 250px;
}
.div3 h2 {
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div3 p {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div3 button
{
    font-size: large;
    font-family: fantasy;
    color: black;
    background-color: yellow;
    border: solid 5px black;
    border-radius: 60px;
    padding: 10px 40px;
    margin-left: 40%;
}
.div3 button:hover
{
    color: yellow;
    background-color: black;
    border: solid 5px yellow;
    cursor: pointer;
}


.demo{
    background-color: #fff;
    color: #000;
    padding: 30px 250px;
    display: block;
}
.demo p {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.demo .inputs{
    display:flex;
    justify-content: center;
}
.demo input
{
    border:2px solid #222;
    border-radius: 20%;
    font-size: medium;
}

.demo .table{
    display:flex;
    justify-content: center;
}
.demo table,th,tr,td{
    border: 2px solid rgba(140, 140, 140, 0.9);
    padding: 5px;
    border-radius: 12%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.demo th{
    background-color: #000;
    color:#fff;
}
.demobutton
{   display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.demobutton button, .formbtn 
{
    font-size: large;
    font-family: fantasy;
    color: #000;
    background-color: #fff;
    border: solid 3px #000;
    border-radius: 50px;
    padding: 2px 20px;
}
.demobutton button:hover,.formbtn:hover
{
    color: #fff;
    background-color: #000;
    border: solid 3px #444;

}

.footer{
    text-align: center;
    font-family: monospace;
}

.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration h2,p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.registration input[text], label, input[email],option,textarea{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
}
.formbtn{
    margin-top: 2%;
}
